<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container">
    <div class="row align-items-start">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a th:href="@{/summaryService}" style="margin:5px;" class="nav-link text-primary">Summary Service</a>
                            <a th:href="@{/myDirectory}" style="margin:5px;" class="nav-link text-primary">Directory</a>
                            <a th:href="@{/adminPage}" style="margin:5px;" class="nav-link text-primary">Admin Page</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            <table class="table table-striped pull-right" >
                <thead>
                <tr>
                    <th style="width: 100px;">number</th>
                    <th style="width: 600px">title</th>
                    <th style="width: 100px;">more</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td>
                        <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"
                           class="btn btn-primary" role="button">content update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>